html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Kiwi Maru', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
width:100%;
}

.container
{
	width:1180px;
	margin:0 auto;
}

.header{
	display:inline-block;
	float:left;
	width:100%;
	margin-bottom:65px;
	margin-top:40px;
}

.header .menu
{
	display:inline-block;
	width:100%;
	background-color:#1111e1;
	height:50px;
	line-height:50px;
	
}

.header .menu ul{
	display:flex;
}
.header .menu ul li{
	flex:auto;
	text-align:center;
}

.header .menu ul li a{
	color:#fff;
	text-decoration:none;
	font-weight:500;
}
.header .menu ul li :hover{
	background-color:#000;
}

.header .menu ul li .submenu
{
	display:none;
	position:absolute;
	left:0;
	width:100%;
	background-color:#2929da;
	padding:5px;
}
.header .menu ul li .submenu li
{
  display:inline-block;
  padding:0 15px;  
  color:#fff;
}
.header .menu ul li:hover .submenu
{
	display:block;
}


.slide-container
{
	
	padding-top:150px;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:20px;
}

.portal_header{

	padding-left:50px;
	padding-right:50px;
	margin-bottom:10px;
	
}
h3{
	text-align:center;
	color:#191970;
}





















