*{
	text-align:center;
}
.imagecontainer{
	margin-left:24px;
	margin-right:24px;
	
}
.menuconyainer{
	padding:24px;
	background:cover;
}

.item-container{
	margin-left:30px;
	margin-right:30px;
}
.blog_title{
	margin-bottom:24px;
}
.block_images{
	margin-top:30px;
}

.blog_title h4 
{	
	 margin-bottom:5px;
     padding:5px;
	 color:#5E5F64; 	 
}

.blog_title p 
{	
	 margin-bottom:5px;
     padding:5px;
	 color:#5E5F64;	 	 
}
.login{
	
	padding:60px;
}
.text-center{
	margin-bottom:30px;
}

.productlogin h3{
	margin-top:90px;
}

#end-container p
{
	padding-top:70px;
	color:black;
    text-align:center;	
}

.item-header{
	
	font-family: 'Kiwi Maru', serif;
	font-size:40px;
	margin-bottom:30px;
	color:#191970;
}
.header{
	font-family: 'Kiwi Maru', serif;
	font-size:60px;
	margin-bottom:30px;
	color:#800000	;
}
.{
	font-family: 'Titillium Web', sans-serif;
}

.product
{
	border:1px solid #EEE8AA;
	margin:-1px 19px 3px -1px;
	padding:10px;
	text-align:center;
}
table,th,transparent{
	text-align:center;
}
.title2
{
	text-align:center;
	color:#66afe9;
	
	padding:2%;
}
h2
{
	text-align:center;
	color:#66afe9;
	
	padding:2%;
	
	
}

table th{
	background-color:#efefef;
}
.abc
{
	margin-bottom:20px;
}



